@import "../var.css";
@import "../animation.css";

.heading {
  position: sticky;
  top: 0;
  padding: 16px 0px;
  animation: fade-in-top 300ms;
  backdrop-filter: blur(20px);
  background-color: var(--clr-translucent);
  border-bottom: 1px solid var(--clr-primary-300);
}

.heading__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.heading__title {
  font-size: large;
  font-weight: 800;
  color: var(--clr-secondary-100);
}

.heading__nav {
  display: flex;
  column-gap: 10px;
}

.heading__link {
  color: var(--clr-secondary-300);
}

.heading__link:hover {
  color: var(--clr-brand-100);
}
