.main-header__nav {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.main-header__link {
  font-weight: 500;
  font-size: small;
  color: var(--clr-secondary-100);
  transition: color 200ms ease-in;
}

.main-header__link:hover {
  font-weight: 500;
  font-size: small;
  color: var(--clr-brand-300);
}
