/* Default */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

/* pengaturan halaman */
#container {
  width: 1000px;
  font-size: 90%;
  margin: auto;
}

/* pengaturan header */
#header {
  padding: 10px;
  height: 75px;
  border: #0000ff dashed 1px;
  background-color: #99ccff;
}

#header h1 {
  display: block;
  width: 815px;
  height: 110px;
  padding: 10px;
  color: #003399;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* pengaturan side panel */
#sidebar {
  border: #0000ff dashed 1px;
  margin-top: 10px;
  width: 150px;
  float: left;
  background-color: #99ccff;
}

#sidebar h3 {
  color: #993300;
  padding-left: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* pengaturan menu navigasi */
ul#navmenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul#navmenu li {
  margin-bottom: 5px;
}

ul#navmenu a {
  display: block;
  width: auto;
  height: auto;
  background-color: #003366;
  padding: 5px 5px 3px;
  text-align: left;
  text-decoration: none;
  color: #eecc11;
  cursor: pointer;
}

:where(ul#navmenu a):where(:hover, :focus :active) {
  background-color: #333;
  color: #fff;
}

ul#navmenu a.selected {
  text-align: right;
  cursor: default;
}

:where(ul#navmenu a.selected):where(:focus, :active) {
  background-color: #386088;
  color: #fff;
}

/* pengaturan content */
#page {
  border: #0000ff dashed 1px;
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  width: 815px;
  align-self: flex-start;
}

#page h2 {
  color: #993300;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

img {
  border: none;
}

#footer {
  border: #0000ff dashed 1px;
  margin-top: 10px;
  text-align: center;
  background-color: #99ccff;
}

#main-wrapper {
  display: flex;
}
