@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "var.css";
@import "reset.css";

@import "struktur/page.css";
@import "struktur/heading.css";
@import "struktur/sidebar.css";
@import "struktur/footer.css";

@import "halaman/galeri.css";
@import "halaman/jadwal.css";

html {
  height: 100%;
}

/* Default */
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--clr-primary-200);
  font-family: "Inter", sans-serif;
  font-size: 12px;
}

/* pengaturan halaman */
.container {
  max-width: 1200px;
  margin: auto;
  width: 90%;
}

/* pengaturan komponen */
.link {
  padding: 2px 4px;
  font-size: medium;
  transition: color 200ms ease-in;
}

.link--selected {
  color: var(--clr-brand-300);
}
